<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ext-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <div class="container-fluid" style="padding-bottom:20px;margin-top:-14px;">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src ="https://secure.assets.tumblr.com/images/logo/logo_large.png?v=7ea0eb57dd627a95f82be5bde0c43d59">
            </a>
          </div>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
        <% if user_signed_in? %>
            <div class="collapse navbar-collapse navbar-ext1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Dashboard", root_path %></li>
                <li><%= link_to "Trending", trending_path %></li>
                <li><%= link_to "Messages", messages_path %></li>
                <li><%= link_to "Account", settings_path %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method:  :delete %></li>
                  </ul>       
            </div><!-- /.navbar-collapse -->
          <% else %>
          <div class="collapse navbar-collapse navbar-ext1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Login", new_user_session_path %></li>
              </ul>       
            </div><!-- /.navbar-collapse -->

        <% end %>
  </div>
</nav>