<!DOCTYPE html>
<html>
<head>
  <title>Pintumblr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%# Navigation Main %>
<%= link_to "Dashboard", root_path %>
<%= link_to "Trending", trending_path %>
<%= link_to "Messages", messages_path %>
<%= link_to "Account", settings_path %>

<%= yield %>

</body>
</html>
